
!transparency
URxvt.transparent: true
URxvt.shading: 20

URxvt.foreground: #eeeeee

!disable scrollbar
URxvt.scrollBar: false

!perl
URxvt.perl-ext-common: extension_name_1,extension_name_2,...

!clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste


rofi.theme: solarized

URxvt.font: xft:Inconsolata for Powerline:size=12:style=bold

